# Ambientes virtuais
venv/
.env/
.venv/
env/

# Arquivos Python compilados
__pycache__/
*.py[codwz]

# Logs
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*

# MacOS
.DS_Store

# Jupyter
*.ipynb_checkpoints
